* {
    margin:0;
    padding:0;
    border: 0;
    font: size 100%;
}
body {
    text-align: center;
    font-family: sans-serif;
}

.head{
    display: flex;
  align-items: center;
  height: 53px;
  background: #FFFFFF;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0; 
}
.banner{
    background:#FFDE59; 
    color:#504540; 
    font-weight:bold;
    padding:25px 700px;
}
.navbar{
    display: flex;
  align-items: center; /* Alinea los elementos horizontalmente */
  justify-content: left; /* Centra el menú horizontalmente */
  margin-top: 73px; /* Añade un margen superior para evitar que el menú se superponga al banner */
  background: #FFFFFF;
  position: fixed;
  width: 100%;
  z-index: 99; /* Asegura que el menú esté detrás del banner */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a{
    margin-left: 30px;
    display: block;
    padding: 20px 20px;
    color:#737373;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
}
.header {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 80vh;
    background: url(Imagen/Img1.png) no-repeat;
    background-size: cover;
    position:relative;
} 

.align-right {
  position: absolute; /* Posición absoluta para alinear el texto */
  top: 20px;
  right: 40px;
  text-align: right;
}

.tittle {
    font-size: 60px;
    font-weight: 900;
    color: #FFFFFF;
    margin-top: 100px;
  }

.text1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #FFFFFF;
    font-family: Open-sans;
    text-align: center;
}
.logo{
    position: absolute;
    top: 260px;
    left: 190px;
}
.logo img{
    width: 240px;
}
.image-container {
position: absolute; /* Posición absoluta para las imágenes */
  bottom: 10px; /* Ajusta la posición vertical */
  left: 40%; /* Centra horizontalmente las imágenes */
  transform: translateX(-50%);/* Cambiado de space-around a space-between */
  display: flex; /* Configura el contenedor como un flexbox */
  justify-content: space-between;  
  }
  .image-container img:first-child {
    margin-right: 50px; /* La primera imagen se alinea a la izquierda */
}

.image-container img:last-child {
    margin-left: 320px; /* La última imagen se alinea a la derecha */
}
  .image-container img {
    width: 480px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    transition: transform 0.3s ease; /* Transición suave al pasar el mouse */
  }
  
  .image-container img:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el mouse */
  }

.content.intr {
    text-align: left;
    padding: 50px 100px;
    
   
}

.titulo {
    font-size: 36px;
    color: #333333;
    margin-top: 50px;
}

.subtitulo {
    font-size: 24px;
    color: #666666;
    margin-bottom: 10px;
}

.text {
    font-size: 18px;
    color: #333333;
    line-height: 1.5;
}
   

