<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Fotro</title>
</head>
<body>
    <div class="head">
        <div class="banner">
            PetGroom
           </div>
        <nav class = "navbar">
            <a href="../index.html">Inicio</a>
            <a href="#">Ingreso</a>
            <a href="#">Salida</a>
        </nav>

    </div>
    <H1>Foro</H1>
</body>
</html>