.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message {
    display: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Aplicar fuente a toda la página */
body {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 20px;
    background: transparent;
    margin: 0;
    padding-top: 0;
    opacity: 1;
    color: rgb(0, 0, 0);
    height: 100%;
    overflow: hidden;
    position: relative;
}

.navbar {
    background-color: #ffffff !important;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 10;
}

.navbar a {
    color: #2f7e21 !important;
    margin: 0 5px;
    text-decoration: none;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    min-height: 50px;
    box-sizing: border-box;
}

.navbar a:hover {
    text-decoration: none;
}

.navbar .foro-button:hover {
    background-color: #c5dfc2 !important;
}

.navbar .adopta-button {
    background-color: #8fb189 !important;
    color: rgb(253, 253, 253) !important;
}

.navbar .adopta-button:hover {
    transform: scale(1.1) !important;
}

.navbar .login-button {
    background-color: #a2a390 !important;
    color: #FFFFFF !important;
    min-width: 200px;
}

.navbar .login-button:hover {
    background-color: #FFFFFF !important;
    color: #a2a390 !important;
    border-style: 2px;
    border-color: #a2a390 !important;
}

/* Estilos del contenedor principal */
.head {
    text-align: center;
    width: 100%;
}

.banner {
    font-size: 0.8em;
    font-weight: normal;
    margin: 0px 0;
    padding: 5px;
    background-color: #FFEC59 !important;
    color: #58511b !important;
}

/* Estilos para la imagen grande */
.hero-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.hero-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1;
}

.hero-image img.active {
    opacity: 1;
}

/* Estilos para el nuevo div central */
.center-div {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    width: 100%;
    z-index: 10;
    position: relative;
}

.collapse {
    transition: height 0.5s ease;
}

.adopta-button {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    transition: all 0.3s ease;
}

.salud-button {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    transition: all 0.3s ease;
}

.entrenamiento-button {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    transition: all 0.3s ease;
}

.adopta-button:hover,
.salud-button:hover,
.entrenamiento-button:hover {
    transform: scale(1.2) !important;
}

.user-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-info p {
    margin: 0 10px;
}