<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="head">
        <div class="banner">
            PetGroom
           </div>
        <nav class = "navbar">
            <a href="../../index.html">Inicio</a>
            <a href="#">Ingreso</a>
            <a href="#">Salida</a>
        </nav>
    </div>

    <header class="header">
          <img src="Imagen/logo.png">
      </header>
    <h1>Adopcion</h1>


    <div class="box-container">

        <div class="box">
          <img src="Imagen/icon f.png" alt="">
          <h3> Luna</h3>
          <p>Encontrada en medio de un</p>
        </div>
        
        <div class="box">
          <img src="Imagen/icon h.png" alt="">
          <h3>Salchipapa</h3>
          <p>Encontrado en un lugar que </p>
        </div>
        
        </div>
        </selection>


</body>
</html>